!!! XML
%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc #{root_url}
    %changefreq monthly
  %url
    %loc #{new_user_url}
    %changefreq monthly
  %url
    %loc #{new_session_url}
    %changefreq monthly
  %url
    %loc #{instructions_url}
    %changefreq monthly

