- if flash[:notice]
  .alert.alert-success
    =flash[:notice]
- if flash[:error]
  .alert.alert-danger
    %strong
      = flash[:error] 
    %br
    - byebug
    -obj.errors.full_messages.each do |msg|
      = "\u2022" +  msg 
      %br
