%h1.intro_statement A free service that allows you to get driving or transit directions to your phone through SMS text. No data required.
%p.text-center *Currently limited to 20 free requests a month
=image_tag(asset_path('direction_request_sms.png'), class:"text_phone")
