%h1.intro_statement A free service that allows you to get driving or transit directions to your dumbphone (or any mobile phone) through SMS text messaging. No data required.
%p.text-center *Currently limited to 20 free requests a month
=image_tag(asset_path('direction_request_sms.png'), class:"text_phone", alt:"iphone texting screen with navigation request")
